<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="text-center">Welcome to My Angular App with Bootstrap</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <p>{{ message }}</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <button (click)="updateMessage()" class="btn btn-success">Update Message</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <button [disabled]="disableBtn" class="btn btn-secondary">Will be disabling</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <input type="text" [(ngModel)]="message11" class="form-control" placeholder="Enter a message">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <p>{{ message11 }}</p>
    </div>
  </div>
</div>
